@import url("https://fonts.googleapis.com/css?family=Roboto");

/* global config */
* {
margin:0;
padding:0;
box-sizing:border-box;
}
/* global styling */
body {
font-family:'Roboto', sans-serif;
line-height; 1.5rem;
}

a {
text-decoration:none;
color:#fff;
}

p {
color:#fff;
}

/* Utility Classes */
.container {
}

.text-center {
}

.text-primary {
color:#77D970;
}

.bg-light {
}

.bg-dark {
}

.bg-primary {
}

.l-heading {
}

.m-heading {
}

.lead {
}

.py-1 {
}
.py-2 {
}
.py-3 {
}

.p-1 {
}
.p-2 {
}
.p-3 {
}

.btn {
background-color: #77D970;
padding:10px;
border-radius: 10px;
}

.btn:hover {
}

.btn-dark {
}

.list {
}

.list li {
}

/* Navbar */
#navbar {
background-color:#000000;
color:#fff;
}

#navbar ul {
}

#navbar ul li a {
}

#navbar ul li a:hover {
}

/* Showcase */
#showcase {
background: url(../image/main-background.jpg)no-repeat center center/cover;
height: 700px;
}

#showcase .showcase-content {
}

/* Section: What We Do */
#what .items {
}

#what .items .item {
}

#what .items .item i {
}

/* Section: Who We Are */
#who {
}

#who div {
}

#who .who-img {
}

/* Section: Clients */
#clients .items {
}

#clients .items img {
height:200px;
width:200px;
}
