@import url("https://fonts.googleapis.com/css?family=Roboto");

/* global config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global styling */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #746c6c;
}

/* Utility Classes */
.container {
  text-align: center;
}

.text-center {
  margin: 20px 0;
  font-size: 35px;
  padding-top: 10px;
}

.text-primary {
  color: rgba(119, 217, 112, 1);
  padding: 20px;
}

.bg-light {
  display: flex;
  flex-direction: row;
}

.bg-dark {
}

.bg-primary {
  background: #fff;
  overflow: hidden;
}

.l-heading {
  padding: 250px 0px 50px 0px;
  font-size: 4rem;
}

.m-heading {
  font-size: 3rem;
padding: 10px;
}

.lead {
  font-size: 1.2em;
  margin-bottom: 45px;
  color: #fff;
}

.py-1 {
  font-size: 1rem;
  text-align: center;
}
.py-2 {
}
.py-3 {
}

.p-1 {
}
.p-2 {
  padding: 10px;
  padding-left: 8rem;
  display: flex;
  line-height: 1.5rem;

}
.p-3 {
}

.btn {
  background-color: rgba(119, 217, 112, 1);
  margin: 0 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 10px 40px;
  border-radius: 10px;
}

.btn:hover {
  color: rgb(78, 78, 78);
}

.btn-dark {
}

.list {
  list-style: none;
  line-height: 1.5rem;
  padding: 20px;
}

.list li {
  display: flow-root;
  flex-direction: right;
  border-bottom: double;
  line-height: 2rem;
  text-align: start;
  z-index: 2;
}

/* Navbar */
#navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  height: 70px;
  top: 0;
  position: sticky;
  z-index: 1;
  color:rgb(222, 224,224);
}
#navbar .logo {
  margin: 20px 15px;
  padding: 10px;
}

#navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 20px;
}

#navbar ul li a {
  color: #fff;
  padding: 15px;
  float: right;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: rgb(131, 129, 129);
}

/* Showcase */
#showcase {
  background: url(.img/main-background.jpg)no-repeat center center/cover;
  height: 90vh;
  text-align: center;
  color: #fff;
}
.rose {
  background: rgba(39, 62, 84, 0.4);
  overflow: hidden;
  height: 90vh;
}

#showcase .showcase-content {
  padding: 5px;
  /* position: static;
  width: 100%;
  height: 926px;
  top: 0;
  background-color: rgba(0, 0, 0, 5);
  z-index: 2; */
}

/* Section: What We Do */
#what {
  background-color: #E9F6F5;
  padding-top: 10px;
  padding-bottom: 40px;
  padding: 0 150px;
}
#what .items {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: auto;
  padding-bottom: 40px;
}

#what .items .item {
  text-align: center;
}

#what .items .item .nonan {
  padding-bottom: 30px;
}

#what .items .item i {
  margin: auto;
  border: 1px solid rgba(119, 217, 112, 1);
  border-radius: 50%;
  background-color: green;
  align-content: center;
  padding: .75rem;
}

/* Section: Who We Are */
#who {
  display: flex;
  flex-direction: row;
  float: right;
  padding-top: 20px;
}

#who div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#who .who-img {
  height: 500px;
  width: 500px;
}

/* Section: Clients */
#clients .items {
  display: flex;
  justify-content: space-evenly;
}

#clients .items img {
  height: 100px;
  width: 100px;
  flex-direction: column;
}
